@use "../utils/mixin.scss" as mix;
@use "../utils/variables.scss" as v;

footer{
    background: #3a3a3a;
    color: white;
    padding: 30px 0px;
  }
  footer h4{
    font-family: 'Shrikhand', cursive; 
    font-style: italic;
    font-size: 25px; 
    padding-left: 25px;
    margin: 0px;
     @include mix.tablette{
        @include mix.center;
    }
    @include mix.desktop{
        @include mix.center;
    }
    }
  footer .footer{
    margin-left: 25px;
    flex-direction: column;
    @include mix.tablette{
      display: flex;
      justify-content: space-around;
      padding-top: 15px;
      flex-direction: initial;
    }
    
    @include mix.desktop{
      display: flex;
      justify-content: space-around;
      padding-top: 15px;
      flex-direction: initial;
    }
  }
  footer .footer .footer-food{
    @include  mix.local;
    font-size: 15px;
  }
  footer .footer .footer-food .txt-footer{
    margin: 0px;
    padding-left: 15px;
    padding-top: 10px;
  }
  .txt-footer{
    font-size: 15px;
    margin: 0px;
    padding-top: 10px;
    @include mix.tablette{
      font-size: 20px;
      
    }
    @include mix.desktop{
        font-size: 20px;
      
      }
  
  }