@use "../utils/mixin.scss" as mix;
@use "../utils/variables.scss" as v;

header{
  .position{
    @include  mix.local;
    justify-content: center;
    background-color: #DCDCDC;
    @include mix.tablette{
      font-size: 20px;
    }
    @include mix.desktop{
      font-size: 20px;
    }
    .ville{
      margin-left: 15px;
    }
  }
  .reservation{
    background-color: #F5F5F5;
    text-align: center;
    padding: 20px;
    h2{
      max-width: 267px;
      display: inline-block;
      text-align: center;
      font-size: 25px;
      @include mix.tablette{
        font-size: 20px;
      }
      @include mix.desktop{
      max-width: 100%;
      font-size: 20px;
      }
    }
     .rese-texte{
      font-size: 20px;
      text-align: center;
      color: gray;
      @include mix.tablette{
        font-size: 22px; 
      }
      @include mix.desktop{
        font-size: 20px;
      }
     } 
    }
}