@use "../utils/mixin.scss" as mix;
@use "../utils/variables.scss" as v;

/*Loader*/

.loader {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: #FFF;
    left: 0;
    top: 0;
    z-index: 10000;
    animation: loader 6s forwards;
}

/*Animation loader*/

@keyframes loader {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        z-index: -10;
    }
}

.loader__circle {
    border: 10px solid #F3F3F3;
    border-top: 10px solid v.$primaire;
    border-bottom: 10px solid v.$secondaire;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 3s linear forwards;

    /*Placement du loader au milieu de la page*/

    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

/*Animation du loader circle*/

@keyframes spin {
    0% {
        transform: rotate(0deg);
        opacity: 1;
    }

    100% {
        transform: rotate(360deg);
        opacity: 0;
    }
}

/* Animation apparition */
@keyframes fadein {
    0% {
        transform: translateY(-5px);
        opacity: 0;
    }

    100% {
        transform: translateY(1px);
        opacity: 1;
    }
}
.entrees {
    animation: fadein 2s;


}
.plats {
    animation: fadein 3s;

   
}
.desserts {
    animation: fadein 6s;
}