@use "../utils/mixin.scss" as mix;
@use "../utils/variables.scss" as v;
@forward "../base/base.scss";

.nos-restaurants{
    background: linear-gradient(v.$primaire, v.$secondaire  );
    padding: 15px;
    border-radius: 35px;
    display: block;
    margin: auto;
    border-color: #F5F5F5;
    border: 1px;
    margin-top: 15px;
    font-size: 18px;
    color: white;
    box-shadow: 0px 1px 6px grey; 
    transition: transform 400ms;
    @include mix.desktop{
      padding: 20px 36px;
    }
    &:hover{
      opacity: 0.6;
      transform: scale(1.15);
   
     }
      
  }
  