@use "../utils/mixin.scss" as mix;
@use "../utils/variables.scss" as v;
@forward "../layout/header";
@forward "../layout/footer";


  body {
    font-family: 'Roboto', sans-serif;
        margin: 0px !important ;
  }

  .container{
    margin: 0px auto;
    padding: 0;
  }
  .ville{
    margin-left: 15px;
  }
  .choix-fonct{
    @include mix.tablette{
      display: flex;
      justify-content: space-around;
    }
    @include mix.desktop{
      display: flex;
      justify-content: space-around;
    }

  }
  .position{
    @include  mix.local;
    @include  mix.centre;
    background-color: v.$grisclaire;
    @include mix.tablette{
      font-size: 30px;
      
    }
    @include mix.desktop{
        font-size: 30px;
      
      }
      
  }
  h2{ @include mix.tablette{
    font-size: 30px;
    
  }
  @include mix.desktop{
      font-size: 30px;
    
    }
  }
  .reservation{
  background-color: #F5F5F5;
  @include mix.center;
  padding: 20px;
  }
  .nos-restaurants{
    background: linear-gradient(v.$primaire, v.$secondaire  );
    padding: 15px;
    border-radius: 35px;
    margin: 20px;
    border-color: #F5F5F5;
    border: 1px;
    box-shadow: 0px 1px 6px grey;
  }
  button a{
  text-decoration: none;
  color: white;
  @include mix.tablette{
    font-size: 20px;
    
  }
  @include mix.desktop{
      font-size: 20px;
    
    }
  }
  .nos-restaurants:hover{
   opacity: 0.6;
  }
  .reservation .rese-texte{
    color: v.$grisclaire;
    @include mix.tablette{
      font-size: 20px;
      
    }
    @include mix.desktop{
        font-size: 20px;
      
      }
      
  }
  .fonctionnement{
    @include  mix.local;
      /* justify-content: space-evenly; */
      @include  mix.centre;
      background: #F5F5F5;
      border-radius: 24px;
      padding: 9px;
      width: 80%;
      /* text-align: center; */
      font-size: 20px;
      position: relative;
      margin-top: 15px;
      @include mix.tablette{
        width: 100%;
      }
      @include mix.desktop{
        width: 100%;
      }
  }
  .fonc-resto{
    flex-direction: column;
    @include mix.local;
    @include mix.tablette{
      display: flex;
      flex-direction: column;
      width: 50%;
    }
    @include mix.desktop{
      display: flex;
      flex-direction: column;
      width: 50%;
    }
  }

  .fonctionnement .number{
    background: v.$primaire;
      border-radius: 46%;
      padding: 8px;
      font-size: 12px;
      color: white;
      position: absolute;
      left: -8px;
      @include mix.desktop{
        font-size: 20px;
      }
  }
  .fonctionnement .choix{
    padding-left: 26px;
    @include mix.tablette{
      font-size: 25px;
      
      }
      @include mix.desktop{
        font-size: 25px;

      }
  }
  h3{
    margin-left: 20px;
    font-size: 30px;
    @include mix.tablette{
      font-size: 30px;
      
      }
      @include mix.desktop{
        font-size: 48px;

      }
  }
  
.artic-resto{ 
  @include  mix.local;
   flex-direction: column;
   @include mix.tablette{
    
  }
  @include mix.desktop{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: initial;
  }

}
  .resto {
    position: relative;
    width: 90%;
    border-radius: 30px;
    margin-top: 25px;
    box-shadow: 2px 0 19px 2px rgb(0 0 0 / 15%);
    @include mix.tablette{
    width: 80%;
    
    }
    @include mix.desktop{
      width: 40%;
    
    }
  }
  .resto .nouveau{
    position: absolute;
      left: 226px;
      background: #97DFC6;
      padding: 10px 17px;
      color: green;
      font-weight: bold;
      @include mix.tablette{
      position: absolute;
      left: 330px;
      font-size: 20px;
      top: 34px;
      }
      @include mix.desktop{
        position: absolute;
      left: 330px;
      font-size: 20px;
      top: 34px;
      }
  }
  .resto .img-resto{
    width: 100%;
    border-radius: 30px 30px 0 0; 
    height: 250px;
    @include mix.tablette{
      height: 330px;
      
    }
    @include mix.desktop{
        height: 440px;
      
      }
  
  }
  .fa-heart {
    padding-right: 20px;
    font-size: 30px;
}
  .resto .nom-restau{
  padding-left: 20px;
  font-weight: bold;
  font-size: 23px;
  margin-bottom: 0px;
  @include mix.tablette{
  font-size: 26px;    
  }
  @include mix.desktop{
  font-size: 26px;    
    }
  
  }
  
  .resto .adresse{
    padding-left: 20px;
    font-size: 23px;      
    margin-top: 0px;
    }
  
  .resto .txt-txt{
    @include  mix.local; 
    justify-content: space-between;
  }
  