
@mixin local {
    display: flex;
    align-items: center;
}
@mixin centre{
    justify-content: center;
}
@mixin center{
    text-align: center;
}
@mixin wrap{
display: flex; flex-wrap: wrap;}
@mixin paddingmenu{
    padding-top:50px ;
}
//Breakpoint
@mixin tablette{
    @media only screen and (min-width: 768px) {
        @content;
    }
}
@mixin desktop {
    @media only screen and (min-width: 992px) {
        @content;
    }
}